@model II_VI_Incorporated_SCM.Models.Account.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_Login_Layout.cshtml";
}



@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h3>@ViewBag.Title.</h3>
    <p> Enter your personal details below: </p>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        @Html.LabelFor(m => m.Email, new { @class = "control-label visible-ie8 visible-ie9" })
        <div class="input-icon">
            <i class="fa fa-envelope"></i>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label visible-ie8 visible-ie9" })
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control ", placeholder = "Password" })
        </div>
    </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label visible-ie8 visible-ie9" })
            <div class="controls">
                <div class="input-icon">
                    <i class="fa fa-check"></i>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control ", placeholder = "Confirm password" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @*<div class="col-md-offset-2 col-md-10">*@
                <input type="submit" class="btn btn-default" value="Reset" />
            @*</div>*@
        </div>
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
