@model II_VI_Incorporated_SCM.Models.Account.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Infomation";

    var user_id = User.Identity.GetUserId();
    var avatar = Url.Content(System.Configuration.ConfigurationManager.AppSettings["uploadPathAvatar"] + user_id + ".png");
    var signature = Url.Content(System.Configuration.ConfigurationManager.AppSettings["uploadPathSignature"] + user_id + ".png");

}
@using Microsoft.AspNet.Identity
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "frmChangePass" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password</h4>
    <hr />
    //@Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="validation-summary-errors text-danger" data-valmsg-summary="true">
        <ul id="err-changepass">
            
        </ul>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-default" />
        </div>
    </div>
}
<label>




</label>
@using (Html.BeginForm("ChangeInfomation", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Infomation</h4>
    <hr />
    @Html.HiddenFor(m => m.userId, (string)User.Identity.GetUserId())
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="center-align" style="text-align:center;">
            <img id="myPhoto" src="@avatar" style="width:120px; height:120px; background-color:wheat;" onerror="imgError(this)" />
        </div>
        @Html.Label("YourAvatar", "Your Avatar", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FileAvatar, new { type = "file", @class = "form-control input-file", placeholder = "Avatar" })
        </div>
    </div>

    <div class="form-group">
        <div class="center-align" style="text-align:center;">
            <img id="mySignature" src="@signature" style="width:120px; height:120px; background-color:wheat;" onerror="imgError(this)" />
        </div>
        @Html.Label("YourSignature", "Your Signature", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FileSignature, new { type = "file", @class = "form-control input-file", placeholder = "Signature" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save Changes" class="btn btn-default" />
        </div>
    </div>
    @*<div class="col-md-2">
            <label>Your Avatar</label>
            <div class="form-group">
                <div class="center-align" style="text-align:center;">
                    <img id="myPhoto" src="~/Theme/assets/layouts/layout6/img/avatar1.png" style="width:120px; height:120px; background-color:wheat;" />
                </div>
                @Html.LabelFor(m => m.FileAvatar, new { @class = "control-label visible-ie8 visible-ie9" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.FileAvatar, new { type = "file", @class = "form-control input-file", placeholder = "Avatar" })

                </div>
            </div>

            <div class="form-group">
                <label>Your Signature</label>
                @Html.LabelFor(m => m.FileSignature, new { @class = "control-label visible-ie8 visible-ie9" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.FileSignature, new { type = "file", @class = "form-control input-file", placeholder = "Signature" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save Changes" class="btn btn-default" />
                </div>
            </div>
        </div>*@
}

<script>
    $(document).ready(function () {

        $("#FileAvatar").change(function () {
            readAvatar(this);
        });
        $("#FileSignature").change(function () {
            readSignature(this);
        });

    });

    function readAvatar(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#myPhoto').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        } else {
            $('#myPhoto').attr('src', '@Url.Content("~/Theme/assets/layouts/layout6/img/avatar1.png")');
        }
    }
    function readSignature(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#mySignature').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        } else {
            $('#mySignature').attr('src', '@Url.Content("~/Theme/assets/layouts/layout6/img/nosignature.png")');
        }
    }

    function imgError(image) {
        console.log(image.id);
        switch (image.id) {
            case 'myPhoto': {
                $(image).attr('src', '@Url.Content("~/Theme/assets/layouts/layout6/img/avatar1.png")');
            } break;
            case 'mySignature': {
                $(image).attr('src', '@Url.Content("~/Theme/assets/layouts/layout6/img/nosignature.png")');
            } break;
        }
        return true;
    }

    $('#frmChangePass').submit(function (e) {
        $('#err-changepass').html('');
        $.blockUI();
        var data = new FormData(this);
        var $fromObj = $(this);
        var urlAction = $fromObj.attr('action');
        $.ajax({
            url: urlAction,
            type: 'POST',
            dataType: "Json",
            contentType: false,
            cache: false,
            processData: false,
            data: data,
            fail: function () {
                bootbox.alert('Please contact to Administrator!');
            }
        }).always(function () {
            $.unblockUI();
        }).success(function (res) {
            console.log(res.result.Succeeded);
            if (res.result.Succeeded == true) {
                bootbox.alert('Change password success', function () {
                    window.location.href = '@Url.Action("Index", "Home")';
                });
            } else {
                $.each(res.result.Errors, function (key, value) {
                    console.log(value);
                    $('#err-changepass').append('<li>' + value + '</li>');
                });
            }
        });
        e.preventDefault();
    });
</script>
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@